.layout {
    display: flex;
    min-height: 100vh;
}
.logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    flex: 1;
    display: flex;
    border-left: 1px solid var(--seporator-color);
    align-items: center;
    justify-content: center;
}
