.input {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: var(--text-color);
    border-radius: 10px;
    background-color: #FCFCFD;
    border: 1px solid #FEFEFE;
    box-shadow: 15px 20px 45px 0px #E9E9E940;
    padding: 16px 30px 16px 44px;
    min-width: 200px;
}
.input-wrapper {
    position: relative;
}
.icon {
    position: absolute;
    left: 18px;
    top: 17px;
}